body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.topnav{
    background-color: black;
    overflow: hidden;
}
.topnav a{
    color: azure;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}

.topnav a:hover{
    color: black;
    text-decoration: none;
    background-color: azure;
}

.topnav-right{
    float: right;
}


.footer{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: azure;
}